.task4{
	
	color: blue;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
}

.task6{
  display: none;
}

.relative {
    padding: 10px;
    position: relative;
    background-color: #fff;
    margin: 10px;
}

.button {
padding: 0.5em 1.5em;
border: 1px solid #fff;
border-radius: 0.3em;
font-size: 0.75rem;
}
.button--toggle {
color: #fff;
background-color: #395870;

}

#orderBtn_asc, #orderBtn_desc{
  display: none;
}

table {
  color: #4a2a4d;
  font: 13px Helvetica, Arial, sans-serif;
  border-spacing: 0;
margin-left:20px
}

thead {
  background: #395870;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

th,td {
  padding: 11px 13px;
  vertical-align: middle;
}
td {
  border-bottom: 0.2px solid #cecfd5;
  border-right: 0.2px solid #cecfd5;
  
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}

